:root {
    --mainColor: #fe3173 ;
}
body{
    height: 5000px;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--mainColor);

}
.project .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
color: var(--mainColor);
}
.project .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
color: green;
}